docker
node_modules
npm-debug.log
*.md
PATENTS
LICENSE

.dockerignore
Dockerfile
docker-compose.yml

.gitignore
.travis.yml
.istanbul.yml
.git
.github

# Build folder
lib/

# Tests
spec/

# IDEs
.idea/

.env
scripts/
dashboard/
volume/
logs/
config.json